<!--
  Generated template for the AddEquityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center style="margin-left: -25px">Add Equity</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #submitEquityForm="ngForm">
    <ion-list>

      <ion-item style="background-color: #ac5d70">
        <ion-label class="coin-info-name" fixed>
          Name
        </ion-label>
        <ion-label class="coin-info-name">{{stock.companyName}}</ion-label>
      </ion-item>

      <ion-item style="background-color: #ac5d70">
        <ion-label class="coin-info-name" fixed>Symbol</ion-label>
        <ion-label class="coin-info-name">{{stock.symbol}}</ion-label>
      </ion-item>

      <ion-item style="background-color: #ac5d70">
        <ion-label class="coin-info-name" fixed>Market</ion-label>
        <ion-label class="coin-info-name" style="margin-left: -8px;">{{price}} {{currency}}</ion-label>
      </ion-item>

      <ion-item style="background-color: #ac5d70">
        <ion-label class="coin-info-name" fixed>Quantity</ion-label>
        <ion-input type="number" placeholder="100" [(ngModel)]="addEquity.amount" name="amount"
                   style="color:white"></ion-input>
      </ion-item>

      <p ion-text *ngIf="addEquity.amount <= 0 && submitted == true" color="danger" padding-left>
        Amount is invalid
      </p>

      <ion-item style="background-color: #ac5d70">
        <ion-label class="coin-info-name" fixed>Price</ion-label>
        <ion-input type="number" placeholder="100 SGD" [(ngModel)]="addEquity.purchasePrice" name="purchase"
                   style="color:white"></ion-input>
      </ion-item>

      <p *ngIf="!enabled">Not entering a purchase price would automatically set your amount to market value in SGD</p>
      <p *ngIf="enabled">You already added this ticker, you're only able to update the quantity/price</p>

    </ion-list>

    <div class="button-group" padding>
      <ion-row>

        <ion-col col-6>
          <button ion-button round class="buttons" (click)="onSubmit(submitEquityForm)"
                  style="background-color: #ac5d70" [disabled]="enabled">
            Add Ticker
          </button>
        </ion-col>

        <ion-col col-6>
          <button ion-button round class="buttons" style="background-color: #ac5d70" (click)="updateItem(addEquity)">
            Update Ticker
          </button>
        </ion-col>

      </ion-row>
    </div>
  </form>

</ion-content>
