// Author: Asher Chew Chin Hao
// Reviewer:
//
// Modifications
// Author:
// Date:
// Changes Made:

page-add-transaction {
    .background-add {
        background-color: #201f27;
        color: #ffffff;
    }

    .background-transaction-info {
        background-color: #ac5d70; 
        color: white;
    }

    .icon {
        width: 32px; 
        height: auto;
    }

    .border {
        border-bottom: 1px solid #D3D3D3;
    }
}
