
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>
      <ion-icon name="ios-cog-outline"></ion-icon>
      Add Bank Form
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #submitExpenseForm="ngForm" [formGroup]="signupform" >
    <ion-list class="list-setting">
        <ion-item>
            <ion-label>Account Name:</ion-label>
           <ion-input type="text" [(ngModel)]="log.bankname" formControlName="bankname"  required text-right> </ion-input>
          </ion-item> 
         
      <ion-item>
          <ion-label>Amount:</ion-label>
        <ion-input type="text" [(ngModel)]="log.amount" formControlName="amount"   [class.error1]="!signupform.controls.amount.valid && signupform.controls.amount.dirty" text-right></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(signupform.get('amount').hasError('maxlength') ||signupform.get('amount').hasError('pattern') ||signupform.get('amount').hasError('required') ) && signupform.get('amount').touched">
      <div class="error" *ngIf="signupform.get('amount').hasError('required') && signupform.get('amount').touched">
        Input Required
      </div>
      <div class="error" *ngIf="signupform.get('amount').hasError('maxlength') && signupform.get('amount').touched">
        Maximum 10 characters
      </div>
      <div class="error" *ngIf="signupform.get('amount').hasError('pattern') && signupform.get('amount').touched">
        Numbers and . only
      </div>
      </ion-item>
  <ion-item>
    <ion-label>Account Number:</ion-label>
    <ion-input type="text"  [(ngModel)]="log.bankaccnum" formControlName="bankaccnum"  required text-right>
  
      </ion-input>
  </ion-item> 
  <ion-item no-lines *ngIf="(signupform.get('bankaccnum').hasError('minlength') || signupform.get('bankaccnum').hasError('maxlength') ||signupform.get('amount').hasError('required') ) && signupform.get('amount').touched">
    <div class="error" *ngIf="signupform.get('bankaccnum').hasError('required') && signupform.get('bankaccnum').touched">
      Input Required
    </div>
    
    <div class="error" *ngIf="signupform.get('bankaccnum').hasError('minlength') && signupform.get('bankaccnum').touched">
      Minimum 5 characters
    </div>
    <div class="error" *ngIf="signupform.get('bankaccnum').hasError('maxlength') && signupform.get('bankaccnum').touched">
      Maximum 10 characters
    </div>
    <div class="error" *ngIf="signupform.get('bankaccnum').hasError('pattern') && signupform.get('bankaccnum').touched">
      Numbers only
    </div>
    </ion-item>

  <ion-item>
        <ion-label>Bank:</ion-label>
        <ion-input type="text" [(ngModel)]="log.bank" formControlName="bank" required text-right>
      
          
        </ion-input>
         
      </ion-item> 
      <ion-item no-lines *ngIf="( signupform.get('bank').hasError('maxlength') ||signupform.get('bank').hasError('pattern') ||signupform.get('bank').hasError('required') ) && signupform.get('bank').touched">
        <div class="error" *ngIf="signupform.get('bank').hasError('required') && signupform.get('bank').touched">
          Input Required
        </div>
        
    
        <div class="error" *ngIf="signupform.get('bank').hasError('maxlength') && signupform.get('bank').touched">
          Maximum 20 characters
        </div>
        </ion-item>
      
     </ion-list>

     <button ion-button type="submit" (click)="onSubmit(submitExpenseForm)" [disabled]="signupform.invalid" required text-right>Submit</button> 
    
</form>
</ion-content>

<style type="text/css">
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }
</style>