page-select-category {
    ion-segment-button {
        border-bottom-color: #b6629d !important;
        color: #b6629d !important;
    }

    .background-category {
        background-color: #201f27;
        color: #ffffff;
    }

    .category-header {
        background: linear-gradient(to right, #ac5d70, #ab689b);
        color: #ffffff;
    }
}
