page-overview-transactions {
    ion-segment-button {
        border-bottom-color: #b6629d !important;
        color: #b6629d !important;
    }

    .coin-card-pink {
        background: linear-gradient(to right, #ac5d70, #ab689b);
        // padding: 20px 0;
        margin-top: 25px;
    }

    .subtitle {
        color: #ffffff;
        font-size: 16px;
    }
}
