.dark-theme {
  $primary : #201f27;
  $secondary: #e87f85;
  $dark: #201f27;
  $dark-light: #2a2934;
  $title-text-color : #e6e6e6;

  ion-content {
    background-color: $primary;
    color: #ffffff;
  }

  .cp-search{
    background: #201f27;
    color:white;
    border-bottom: solid 2px #ad6076;
    .label {
      color :#ad6076
    }
  }

  .btn-favorite {
    background: #ac607a;
  }
  .coin-favorite{
    color: $secondary;
  }


  .ion-page {
    .header::after, .tabbar::before {
      background: linear-gradient(to right, #ac5d70, #ab689b);
      bottom: 0;
      height: 2px;
    }
  }
  .tabbar a[aria-selected=true],
  .tab-button[aria-selected="true"] .tab-button-icon,
  .toolbar .back-button,
  .mat-sort-header-arrow {
      color:$secondary !important;
  }


  .toolbar-title {
    color: #fff;
  }

  .header .toolbar-background {
    background-color: $dark;
  }

  .toolbar-md-primary .bar-button-default-md {
    color: $secondary !important;
  }

  .mat-table {
    background: linear-gradient(to right,$dark,$dark-light);
    .mat-header-cell, .crypto-rank, .crypto-symbol {
      color :#929cb4
    }
    .mat-cell{
      color:white;
    }
  }

  .tabbar.show-tabbar{
    background-color: $dark;
  }

  //coin page
  .coin-info-title, .coin-info-name{
    text-align: left;
    color:$title-text-color;
    padding: 0 15px;
  }
  .coin-info-card{
    background: $dark-light;
    .card-content *{
      color:white;
    }
  }
}

.crypto_list {
  .item {
    background: linear-gradient(to right, #ac5d70, #ab689b);
    color:white;
  }
}
