// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.nbr-positive {
  color: #58e858;
  font-weight: bold;
}
.nbr-negative {
  color: #f54747;
  font-weight: bold;
}

.loading_bar{
  padding: 0 20px;
  *{
    height: 12px;
    opacity: 0.5;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #ac5d70, #ab689b);
    .load-bar {
      background: white;
      content: '';
      position: absolute;
      width: 30px;
      opacity: 0.2;
      height: 100%;
      left: 100%;
      animation: mymove 5s infinite;
    }
  }
  h2 {
    width: 100%;
  }
  h3 {
    width: 60%;
  }
  h4{
    width: 25%;
  }

}

.d-flex {
  display: flex;
}

.d-align-center {
  align-items: center;
}

