page-select-transaction-account {
    .background-account {
        background-color: #201f27;
        color: #ffffff;
    }

    .account-item {
        background: linear-gradient(to right, #ac5d70, #ab689b); 
        color: white;
    }
}
