<ion-header>
  <ion-navbar>
    <ion-title> {{coin.name}} <span class="crypto_symbol"> {{coin.symbol | uppercase}} </span></ion-title>
    <button class="btn-favorite" [class.btn-favorite-set]="is_favorite" (click)="toggleFavorite()" ion-button icon-only><ion-icon name="ios-bookmark-outline"></ion-icon></button>
  </ion-navbar>
</ion-header>


<ion-content padding-top>
   <change-currency></change-currency>
  <h1 class="crypto-price">{{coin.market_data.current_price.usd | number : '1.2-2'}} $</h1>
  <div class="crypto-info">
    <ion-row>
       <ion-col text-right>
          <span class="coin-red">24h Low </span>
       </ion-col>
       <ion-col col-1 > / </ion-col>
       <ion-col text-left>
          <span class="coin-green">24h High</span>
       </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-right>
            {{coin.market_data.high_24h.usd | number : '1.2-2' }} (USD)
        </ion-col>
        <ion-col col-1> - </ion-col>
        <ion-col text-left>
            {{coin.market_data.low_24h.usd | number : '1.2-2' }}  (USD)
        </ion-col>
     </ion-row>
  </div>
  <mat-button-toggle-group  #group="matButtonToggleGroup" [value]="chart_filter" (change)="onFilterChange(group.value)"   margin-top name="chartTime">
    <mat-button-toggle value="24">24h</mat-button-toggle>
    <mat-button-toggle value="7">7 Days</mat-button-toggle>
    <mat-button-toggle value="60">1 month</mat-button-toggle>
    <mat-button-toggle value="365">1 year</mat-button-toggle>
    <mat-button-toggle value="max">max</mat-button-toggle>
  </mat-button-toggle-group>
<!-- if chart API is loading display loading_bars -->
 <ng-container *ngIf="loadingChart">
    <div *ngFor="let in of [0,1,2,3,4]" class="loading_bar">
      <h2><div class="load-bar"></div> </h2>
      <h3><div class="load-bar"></div></h3>
      <h4><div class="load-bar"></div></h4>
    </div>
</ng-container>
  <div [hidden]="loadingChart" id="chart-container" style="display: block;"></div>
  <div class="coin-info">
    <h1 class="coin-info-title">
      Coin info
    </h1>
    <div class="coin-info-card">
        <ion-row>
          <ion-col col-6 text-left>
            <span class="coin-info-name">Rank</span>
          </ion-col>
          <ion-col col-6 class="coin-info-detail">
           # {{coin.coingecko_rank}}
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-left>
              <span class="coin-info-name">Market cap</span>
            </ion-col>
            <ion-col col-6 class="coin-info-detail">
                {{coin.market_data.market_cap.usd | number : '1.2-2' }} (USD)
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-left>
              <span class="coin-info-name">Total volume</span>
            </ion-col>
            <ion-col col-6 class="coin-info-detail">
                {{coin.market_data.total_volume.usd | number : '1.2-2' }} (USD)
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-left>
              <span class="coin-info-name">(24h)</span>
            </ion-col>
            <ion-col col-6 class="coin-info-detail">
                <div *ngIf="coin.market_data.price_change_percentage_24h >= 0 then positive24 else negative24" ></div>
                <ng-template #positive24>
                  <span class="nbr-positive">+ {{coin.market_data.price_change_percentage_24h | number : '1.2-2' }} %</span>
                </ng-template>
                <ng-template #negative24>
                    <span class="nbr-negative">{{coin.market_data.price_change_percentage_24h | number : '1.2-2' }} %</span>
                </ng-template>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-left>
              <span class="coin-info-name">(7 days)</span>
            </ion-col>
            <ion-col col-6 class="coin-info-detail">
                <div *ngIf="coin.market_data.price_change_percentage_7d >= 0 then positive7d else negative7d" ></div>
                <ng-template #positive7d>
                  <span class="nbr-positive">+ {{coin.market_data.price_change_percentage_7d | number : '1.2-2' }} %</span>
                </ng-template>
                <ng-template #negative7d>
                    <span class="nbr-negative">{{coin.market_data.price_change_percentage_7d | number : '1.2-2' }} %</span>
                </ng-template>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-left>
              <span class="coin-info-name">(30 days)</span>
            </ion-col>
            <ion-col col-6 class="coin-info-detail">
                <div *ngIf="coin.market_data.price_change_percentage_30d >= 0 then positive30d else negative30d" ></div>
                <ng-template #positive30d>
                  <span class="nbr-positive">+ {{coin.market_data.price_change_percentage_30d | number : '1.2-2' }} %</span>
                </ng-template>
                <ng-template #negative30d>
                    <span class="nbr-negative">{{coin.market_data.price_change_percentage_30d | number : '1.2-2' }} %</span>
                </ng-template>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 text-left>
            <span class="coin-info-name">(60 Days)</span>
          </ion-col>
          <ion-col col-6 class="coin-info-detail">
              <div *ngIf="coin.market_data.price_change_percentage_60d >= 0 then positive60d else negative60d" ></div>
              <ng-template #positive60d>
                <span class="nbr-positive">+ {{coin.market_data.price_change_percentage_60d | number : '1.2-2' }} %</span>
              </ng-template>
              <ng-template #negative60d>
                  <span class="nbr-negative">{{coin.market_data.price_change_percentage_60d | number : '1.2-2' }} %</span>
              </ng-template>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 text-left>
              <span class="coin-info-name">(1 year)</span>
            </ion-col>
            <ion-col col-6 class="coin-info-detail">
                <div *ngIf="coin.market_data.price_change_percentage_1y >= 0 then positive1y else negative1y" ></div>
                <ng-template #positive1y>
                  <span class="nbr-positive">+ {{coin.market_data.price_change_percentage_1y | number : '1.2-2' }} %</span>
                </ng-template>
                <ng-template #negative1y>
                    <span class="nbr-negative">{{coin.market_data.price_change_percentage_1y | number : '1.2-2' }} %</span>
                </ng-template>
            </ion-col>
        </ion-row>
    </div>
  </div>
  <div class="coin-info">
    <h1 class="coin-info-title">
      Community info
    </h1>
    <div class="coin-info-card">
      <ion-row class="coin_community_data">
        <ion-col>
           <div class="coin_data_icon">
            <ion-icon name="logo-facebook"></ion-icon>
           </div>
           <span>{{coin.community_data.facebook_likes}} </span>
           <span class="coin_data_name">Likes</span>
        </ion-col>
        <ion-col>
          <div class="coin_data_icon">
             <ion-icon name="logo-twitter"></ion-icon>
          </div>
          <span>{{coin.community_data.twitter_followers}} </span>
          <span class="coin_data_name">Followers</span>
        </ion-col>
        <ion-col>
          <div class="coin_data_icon">
             <ion-icon name="logo-reddit"></ion-icon>
          </div>
          <span>{{coin.community_data.reddit_subscribers}} </span>
          <span class="coin_data_name">Subscribers</span>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
