page-select-currency {
    .background-currency {
        background-color: #201f27;
        color: #ffffff;
    }

    .currency-item {
        background: linear-gradient(to right, #ac5d70, #ab689b); 
        color: white;
    }
}
